* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  background-color: #1F271B;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  color: #EAE2B7;
}

h1 {
  text-align: center;
  font-size: 80px;
  margin-bottom: 80px;
}

.board {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 600px;
  margin: 0 auto;
}

.line {
  position: absolute;
  background-color: #EAE2B7;
}

.horizontal-line, .horizontal-line-2 {
  width: 100%;
  height: 10px;
  left: 0;
}

.horizontal-line {
  top: 33.33%;
}

.horizontal-line-2 {
  top: 66.66%;
}

.vertical-line, .vertical-line-2 {
  height: 100%;
  width: 10px;
  top: 0;
}

.vertical-line {
  left: 33.33%;
}

.vertical-line-2 {
  left: 66.66%;
}
