* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  background-color: #1F271B;
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #EAE2B7;
}

h1 {
  text-align: center;
  font-size: 80px;
}

.row {
  display: flex;
  justify-content: center;
}

.horizontal-line {
  margin-top: 180px;
  width: 600px;
  height: 10px;
  background-color: #EAE2B7;
}

.horizontal-line-2 {
  margin-top: 200px;
  width: 600px;
  height: 10px;
  background-color: #EAE2B7;
}

.vertical-line {
  width: 10px;
  height: 600px;
  background-color: #EAE2B7;
  position: absolute;
  left: 850px;
}

.vertical-line-2 {
  width: 10px;
  height: 600px;
  background-color: #EAE2B7;
  position: absolute;
  bottom: 252px;
  right: 850px;
}
